In [2]:
import pandas as pd
import numpy as np

In [3]:
df_train = pd.read_csv('data/data.csv', sep=',')
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 835200 entries, 0 to 835199
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   STD_DT       835200 non-null  object
 1   NUM          835200 non-null  int64
 2   MELT_TEMP    835200 non-null  int64
 3   MOTORSPEED   835200 non-null  int64
 4   MELT_WEIGHT  835200 non-null  int64
 5   INSP         835200 non-null  float64
 6   TAG          835200 non-null  object
dtypes: float64(1), int64(4), object(2)
memory usage: 44.6+ MB

In [4]:
df_train['STD_DT'] = df_train['STD_DT'].apply(lambda x: str(x)[5:])

In [ ]:
df_train['STD_DT'] = df_train['STD_DT'].apply(lambda x: pd.to_datetime(str(x), format='%Y-%m-%d %H:%M'))

In [ ]:
df_train.to_csv('data_datetime.csv', mode='w', index=False)

In [44]:
df_train = pd.read_csv('data/data_datetime.csv', sep=',')
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 835200 entries, 0 to 835199
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   STD_DT       835200 non-null  object
 1   NUM          835200 non-null  int64
 2   MELT_TEMP    835200 non-null  int64
 3   MOTORSPEED   835200 non-null  int64
 4   MELT_WEIGHT  835200 non-null  int64
 5   INSP         835200 non-null  float64
 6   TAG          835200 non-null  object
dtypes: float64(1), int64(4), object(2)
memory usage: 44.6+ MB

In [ ]:
df_train = df_train.set_index(['STD_DT'])

In [ ]:
df_train.head(11)

                     NUM  MELT_TEMP  MOTORSPEED  MELT_WEIGHT  INSP TAG
STD_DT
1900-03-04 00:00:00    0        489         116          631  3.19  OK
1900-03-04 00:00:00    1        433          78          609  3.19  OK
1900-03-04 00:00:00    2        464         154          608  3.19  OK
1900-03-04 00:00:00    3        379         212          606  3.19  OK
1900-03-04 00:00:00    4        798        1736          604  3.21  OK
1900-03-04 00:00:00    5        743        1722          603  3.21  OK
1900-03-04 00:00:00    6        390         212          602  3.19  OK
1900-03-04 00:00:00    7        493         152          600  3.19  OK
1900-03-04 00:00:00    8        427           0          599  3.19  OK
1900-03-04 00:00:00    9        489         148          598  3.20  OK
1900-03-04 00:01:00   10        507         128          596  3.19  OK

In [38]:
df_train_groups = df_train.groupby(by='STD_DT')

In [39]:
df_train_groups

In [40]:
df_grouplst = []
for group in df_train_groups:
    df_grouplst.append(group)

In [43]:
df_grouplst[2]

('2020-03-04 00:02:00',
                      NUM  MELT_TEMP  MOTORSPEED  MELT_WEIGHT  INSP TAG
 STD_DT
 2020-03-04 00:02:00   20        474         135          581  3.19  OK
 2020-03-04 00:02:00   21        446          67          580  3.19  OK
 2020-03-04 00:02:00   22        487         161          578  3.20  OK
 2020-03-04 00:02:00   23        393         205          577  3.18  OK
 2020-03-04 00:02:00   24        740        1748          575  3.22  OK
 2020-03-04 00:02:00   25        761        1721          574  3.22  OK
 2020-03-04 00:02:00   26        383         200          572  3.18  OK
 2020-03-04 00:02:00   27        483         167          571  3.19  OK
 2020-03-04 00:02:00   28        435          90          570  3.18  OK
 2020-03-04 00:02:00   29        456         111          568  3.19  OK)

In [50]:
df_train['MELT_WEIGHT'].isin([0]).index

Index(['2020-03-04 00:00:00', '2020-03-04 00:00:00', '2020-03-04 00:00:00',
       '2020-03-04 00:00:00', '2020-03-04 00:00:00', '2020-03-04 00:00:00',
       '2020-03-04 00:00:00', '2020-03-04 00:00:00', '2020-03-04 00:00:00',
       '2020-03-04 00:00:00',
       ...
       '2020-04-30 23:59:00', '2020-04-30 23:59:00', '2020-04-30 23:59:00',
       '2020-04-30 23:59:00', '2020-04-30 23:59:00', '2020-04-30 23:59:00',
       '2020-04-30 23:59:00', '2020-04-30 23:59:00', '2020-04-30 23:59:00',
       '2020-04-30 23:59:00'],
      dtype='object', name='STD_DT', length=835200)